@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<img src="https://media.istockphoto.com/photos/concept-promotional-flyer-and-poster-for-restaurants-or-pizzerias-picture-id943449226" alt="Lamp">
</div>
