@model PizzaBox.Client.Models.CustomerViewModel;

Hello @Model.User.Name

@Html.AntiForgeryToken()
@Html.ActionLink("Create Order", "GoToOrder", "Customer")
@foreach (var item in Model.OrderHistory)
{
  <p>@Html.DisplayFor(m =>item)</p>
}

