@model PizzaBox.Client.Models.OrderViewModel;
@using (@Html.BeginForm("MakeAnother", "Customer",new{id = @ViewBag.Username,orderid = ViewBag.OrderId}, FormMethod.Post))
{
  @Html.AntiForgeryToken()
    @foreach (var item in Model.Pizzas)
    {
      <p>@Html.DisplayFor(m =>item)</p>
    }
  <input type="submit" name = "back" class="btn btn-default" value="Add Another"/>
}
