@model PizzaBox.Client.Models.StoreViewModel;

@using (@Html.BeginForm("StoreDetails", "Store", FormMethod.Post))
{
  @Html.AntiForgeryToken();
<header>Choose a Store</header>
@foreach(var Store in Model.Stores)
{
  <input type="radio" id=@Store.Name name="StoreName" value=@Store.Name>
  <label for=@Store.Name>@Store.Name</label>
}
<input type="submit" name = "StoreName" class="btn btn-default" value="Choose Store" />
}
