@model PizzaBox.Client.Models.StoreViewModel;

<header>Choose a Store</header>
@foreach(var Store in ViewBag.Stores)
{
  <input type="radio" id=@Store.Name name="Store" value=@Store.Name>
  <label for=@Store.Name>@Store.Name</label>
}
